body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #ffffff;
  background-color: #f876de;
  background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
}

/* headings and paragraphs */
h1 {
  font-size: 5.625rem;
  font-weight: bold;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #0c1115;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #0c1115;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
a {
  color: #6958fa;
}
p.tag {
  margin-top: 0px;
  font-size: 2.5rem;
  color: #1d2228;
  font-weight: normal;
}
p.para-0 {
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
  line-height: 1.5;
}

/* container */
.top-container {
  height: 650px;
  position: relative;
  padding-top: 100px;
  /* background-color: #f876de;
  background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%); */
}
.middle-container {
  /* background-color: #f876de;
  background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%); */
  color: #222629;
}
/* images used */
.t-cloud {
  position: relative;
  left: 20%;
  top: 0.2rem;
}
.b-cloud {
  position: absolute;
}
.mountain {
  height: 600px;
}
.img {
  height: 250px;
  margin-top: 400px;
}
/* skill row */
.skill-row {
  width: 60%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}
iframe.one {
  float: left;
  margin: auto 30px auto auto;
}
iframe.two {
  float: right;
  margin-left: 30px;
}
/* profile */
.profile {
  text-align: center;
}
hr {
  border-color: #eaf6f6;
  border-width: 4px;
  border-style: dotted none none none;
  height: 0px;
  width: 5%;
}
/* bottom-container */
.bottom-container {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);

  height: 200px;
}
.footer-link {
  color: white;
  margin: 50px;
  position: relative;
  top: 60px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-link:hover {
  color: #6958fa;
  transition: 0.6s;
}
.end {
  position: relative;
  top: 80px;
  color: #eaf6f6;
}

/* button */
.contact-me {
  margin-bottom: 20px;
}
